<style>
ul li{
	float:left;
}

ul li img{
	width:100px;
}
</style>
<% for (var i=0; i < diputados.length; i++) { %>
	<h2><%= diputados[i].id %>  <%= diputados[i].nombre %> (<%= diputados[i].nombrenormalizado %>)</h2>
	
	<ul>
		<li><%= diputados[i].grupo %></li>
		<li><%= diputados[i].grupobreve %></li>
		<li><img src="http://www.congresoabierto.com/avatars/hulk/<%= diputados[i].id %>.jpg" /></li>
		<li><img src="http://www.congresoabierto.com/avatars/coal/<%= diputados[i].id %>.jpg" /></li>
		<li><img src="http://www.congresoabierto.com/avatars/golum/<%= diputados[i].id %>.jpg" /></li>
		<li><img src="http://www.congresoabierto.com/avatars/yoda/<%= diputados[i].id %>.jpg" /></li>
		<li><img src="http://www.congresoabierto.com/avatars/rambo/<%= diputados[i].id %>.jpg" /></li>
		<li><img src="http://www.congresoabierto.com/avatars/avatar/<%= diputados[i].id %>.jpg" /></li>
		<li><img src="http://www.congresoabierto.com/avatars/soldier/<%= diputados[i].id %>.jpg" /></li>
		<li><img src="http://www.congresoabierto.com/avatars/boxer/<%= diputados[i].id %>.jpg" /></li>
		<li><img src="http://www.congresoabierto.com/avatars/goalkeeper/<%= diputados[i].id %>.jpg" /></li>
		<li><img src="http://www.congresoabierto.com/avatars/zeus/<%= diputados[i].id %>.jpg" /></li>
		<li><img src="http://www.congresoabierto.com/avatars/superman/<%= diputados[i].id %>.jpg" /></li>
	</ul>
	
	<br style="clear:both">
	
	<table border="0" style="margin-top:15px;">

                <tr>

                <td>

                    <!-- facebook -->

                    <a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php">Compartir</a>

                    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>



                 </td>

                 <td style="width:20px;">&nbsp;</td>

                 <td>



                <!-- twitter -->

                    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="ivanloire" data-lang="es">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

                </td>

                </tr>

                </table>
  
<% } %>
